# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Logs/
MemoryCaptures/
ProjectSettings/UnityConnectSettings.asset
# ========================= #
# Visual Studio / MonoDevelop #
# ========================= #
.vs/
.csproj
.unityproj
.sln
.suo
.user
.userprefs
.pidb
.booproj
*.pidb.meta
*.booproj.meta
# ============ #
# OS Specific #
# ============ #
.DS_Store
Thumbs.db